meta name="twitter:card" content="summary"
/ 大きいサイズ：meta name="twitter:card" content="summary_large_image"
meta name="twitter:site" content="@#{Settings.system[:twitter_site]}"
meta name="og:title" content="#{Settings.system[:title]}"
meta name="og:description" content="#{Settings.system[:description]}"
meta name="og:image" content="#{Settings.system[:url]}/#{image_path('eyecatch.jpg')}"
